* {
    box-sizing : border-box;
    margin : 0px;
}

html, body {
    width : 100%;
    height : 100%;
}

.wrapper {
    width: 100%;
    height:100%;
    padding: 20px;
    display:flex;
    flex-direction: column;
}

.wrapper__header {
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: cen;
    
}

.wrapper__title {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-bottom : 6px;
}


.title{
    color: #55B2E4;
    font-size: 13px;
    font-weight:700;
    
}


.subtitle{
    font-size:8px;
    padding-left:5px;
    
}


.divideLine{
    width:100%;
    border-top:1px solid gray;
}

.albumWrapper{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    padding : 18px 15px;
}

table{
    /* border: none; */
    /* border-left:none; */
    /* border-right:none; */
    border-spacing: 0px;
    width:100%;
  }

.albumTable th {
    height: 20px;
    font-size:10px;
    font-weight: bold;
    color: gray;
    background-color : #eeeeee;
    padding-top : 5px;
    border-top: 1px solid gray;
    border-bottom: 1px dashed gray;
}

.albumTable__artist{
    text-align:left !important;
}

td{
    height : 20px;
    font-size : 10px;
    color : #0f465e;
    border-bottom: 1px dashed gray;
}

.albumTable__song{
    width : 45%;
    text-align :left;
}

.album-table-checkbox{
    width: 5%;
    text-align : center;

}

.album-table-number{
    width : 10%;
    text-align : center;
    
}

.albumTable__artist{
    width : 30%;
    text-align : center;
    
}

.album-table-number span{
    
    text-align : center;
    color : black;
}

.album-table-song span, .album-table-artist span{
    
    color :#0F465E;
    ;
}